html {
    box-sizing: border-box;
}

*,
*::after, 
*::before{
    box-sizing: inherit;
}
body {
    height: 100vh;
}

#content {
    height: 100vh;
    background: url(./background.jpg);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* text-align: center; */
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap: 40px; */
 
}

.header > p {
    font-size: 50px;
    height: 50%;
    /* margin-top: 30px; */
    display: flex;
    align-items: center;

}

.header > div {
    display: flex;
    gap: 35px;
    height: 50%;
    /* margin-bottom: 15px; */
    align-items: center;
    padding-top: 10px;
}

.header button {
    color: white;
    background: none;
    font-size: 30px;
    border-style: none;
    width: 130px;
    padding-bottom: 8px;
}

.header button:hover {
    border-bottom: 1px solid white;
}
.footer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 4vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main > div{
    width: 700px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.home-content img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.home-content p, .menu-content p, .contact-content p,  .footer p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-content img, .contact-content img {
    width: 300px;
    height: auto;
    border-radius: 30px;
}

.contact-content img {
    width: 600px;
}
